<div class="container">


 <div class="col-xs-9" >

<form    #carForm="ngForm" >

	  <div class="row well">
     <label for="title" [translate]="'post.adtitle'"></label>
    	<input type="text" [(ngModel)]="carad.adtitle" class="form-control" id="title" name="firstName"/>
    </div>


   <div class="row well">
    <label for="soldby"  [translate]="'post.saleby'"></label>
     <section>
      <mat-radio-group [(ngModel)]="carad.soldby" name="soldby">
         <mat-radio-button value="own" color="accent" ><span  [translate]="'post.owner'"></span> </mat-radio-button>
         <mat-radio-button value="deal" color="primary" [translate]="'post.dealer'"><span  [translate]="'post.dealer'"></span></mat-radio-button><br/>
      </mat-radio-group>
    </section>
   </div>


    <div class="row well">
      <div class="col-sm-6">
    		 <label for="carmake" [translate]="'post.make'"></label>
         <select class="form-control" name="carmake" [(ngModel)]="carad.make" (change)="onMakeChange($event.target.value)">
          <option [ngValue]="null" >---- Other ----</option>
          <option *ngFor="let crm of allCarmake" [ngValue]="crm.makeId">
           {{ crm.makeName }}
          </option>
         </select>
       </div>

     <div class="col-sm-6">
    	<div class="form-group">
    		 <label for="carmodel" [translate]="'post.model'"></label>
         <select class="form-control" name="carmodel" [(ngModel)]="carad.model">
          <option [ngValue]="null" >---- Other ----</option>
          <option *ngFor="let mdl of modellist" [ngValue]="mdl.modelid">
           {{ mdl.modelname }}
          </option>
         </select>
      </div>
    </div>
</div>

<div class="row well">
   <div class="col-sm-6">
      <div class="form-group">
         <label for="trans" [translate]="'post.transmission'"></label>
         <select class="form-control" name="trans" [(ngModel)]="carad.trans">
          <option value="oth" >---- Other ----</option>
          <option value="auto">Automatic  </option>
          <option value="manu">Manual  </option>
         </select>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label for="drive" [translate]="'post.drivetrain'"></label>
	       <select class="form-control" name="drive" [(ngModel)]="carad.drivetrain">
           <option value="oth" >---- Other ----</option>
           <option value="awd">All-wheel Drive AWD </option>
           <option value="fwd">Front-Wheel drive  </option>
           <option value="rwd">Rear-Wheel drive  </option>
           <option value="xxx">4X4  </option>
        </select>
      </div>
    </div>
    </div>

    <div class="row well">
      <div class="col-sm-6">
         <div class="form-group">
          <label for="body" [translate]="'post.bodytype'"></label>
          <select class="form-control" name="body" [(ngModel)]="carad.body">
            <option value="oth" >---- Other ----</option>
            <option value="coup">coupe (2 doors) </option>
            <option value="conv">Convertible  </option>
            <option value="van">Mini Van  </option>
            <option value="sed">Sedan  </option>
         </select>
    </div>
    </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="fuel" [translate]="'post.fueltype'"></label>
	          <select class="form-control" name="fuel" [(ngModel)]="carad.fuel">
              <option value="oth" >---- Other ----</option>
              <option value="gaz">Gaz</option>
              <option value="ess">Essence</option>
              <option value="hyb">Hybrid </option>
              <option value="elec">Electric  </option>
           </select>
       </div>
     </div>
   </div>

    <div class="row well">

       <div class="col-sm-6">
        <div class="form-group">
         <label for="year" [translate]="'post.year'"></label>
            <select class="form-control" name="carmodel" [(ngModel)]="carad.year">
            <option [ngValue]="null" >---- Other ----</option>
            <option *ngFor="let yr of yearsList" [ngValue]="yr.value">
             {{ yr.name }}
            </option>
           </select>
          </div>
        </div>

         <div class="col-sm-6">
           <div class="form-group">
             <label for="color" [translate]="'post.colour'"></label>
            	<select class="form-control" name="color" [(ngModel)]="carad.color">
               <option value="oth" >---- Other ----</option>
               <option value="whi">White</option>
               <option value="blac">Black</option>
               <option value="blu">Blue </option>
               <option value="red">Red</option>
              </select>
           </div>
          </div>


           <div class="col-sm-6">
             <div class="form-group">
                <label for="Kilometers" [translate]="'post.kilometers'"></label>
      	        <input type="text" class="form-control" [(ngModel)]="carad.kilometers" id="Kilometers" name="Kilometers"/>
              </div>
           </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="DoorsNo" [translate]="'post.numdoors'"></label>
      	      <input  type="text" class="form-control" [(ngModel)]="carad.doorNo" id="DoorsNo" name="DoorsNo"/>
           </div>
          </div>

         <div class="col-sm-6">
          <div class="form-group">
             <label for="postalCode" [translate]="'post.postalcode'"></label>
             <input type="text"  class="form-control" required  id="postalCode" name="postalCode" [(ngModel)]="carad.postalcode" #postalcode="ngModel">

             <div *ngIf="postalcode.invalid && (postalcode.dirty || postalcode.touched)"
                 class="alert alert-danger">
             <div *ngIf="postalcode.errors.required">
                 Name is required.
             </div>
             </div>

             </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="Address" [translate]="'post.address'"></label>
              <input  type="text" class="form-control" [(ngModel)]="carad.address" id="Address" name="Address"/>
           </div>


            <div class="form-group">
              <label for="comment" [translate]="'post.description'"></label>
              <textarea class="form-control" rows="5" [(ngModel)]="carad.descr" id="comment" name="addescreption" ></textarea>
            </div>
          </div>


     <br><br>

   </div>

      <div class="album text-muted">
      <div calss="container">
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
        <div>
          <span class="btn btn-default btn-file"><span class="fileinput-new" [translate]="'post.selectimg'"></span><span class="fileinput-exists" [translate]="'post.change'"></span><input type="file" name="file"
          (change)="uploadImageService.fileChangeEvent($event)"></span>
          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput" name="file1" (click)="uploadImageService.removeImage($event)">Remove</a>
        </div>
      </div>

      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
        <div>
          <span class="btn btn-default btn-file"><span class="fileinput-new" [translate]="'post.selectimg'"></span><span class="fileinput-exists" [translate]="'post.change'"></span><input type="file" name="file"
          (change)="uploadImageService.fileChangeEvent2($event)"></span>
          <a href="#" name="file2" class="btn btn-default fileinput-exists" data-dismiss="fileinput" (click)="uploadImageService.removeImage($event)">Remove</a>
        </div>
      </div>

      </div>
        <br><br>
      </div>



    <div class="col-sm-6">
					<button (click)="onSubmit()"   [disabled]="carForm.invalid" class="btn btn-primary"  type="submit" [translate]="'post.submit'"></button>
					<button  class="btn btn-danger"  routerLink="/" [translate]="'post.cancel'"></button>
    </div>

  </form>
 </div>
</div>
